<input/>
<h3><%=params[:id]%></h3>
<h2><%=@todo_description%></h2>
<h2><%=@todo_pomodoro_estimate%></h2>
<a href="#">delete</a>
<a href="#">edit</a>
<a href="/todo/index">go back</a>
<link rel="stylesheet" href
body{
    background-color: azure;
}


